*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea
sample-data/chinook-empty.sqlite
sample-data/chinook.sqlite-shm
sample-data/chinook.sqlite-wal
tmp
examples/mongodb_whitelist_generated.rb
data